<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>نمودار از API</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/highcharts.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/data.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/linechart.js"></script>
    </head>
<body>
    <div id="chartContainer" style="width:100%; height:400px; direction: rtl;"></div>
</body>
</html>