<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>نمودار از API</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*--Line Chart-----------------------------------------------------------*@
    <script src="~/assets/highcharts-12.1.2/code/highcharts.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/data.js"></script>

    @*--DirllDown Pie Chart-----------------------------------------------------------*@
    <script src="~/assets/highcharts-12.1.2/code/highcharts.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/data.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/drilldown.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/export-data.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/accessibility.js"></script>

    @*--packed-bubble Chart-----------------------------------------------------------*@
    <script src="~/assets/highcharts-12.1.2/code/highcharts.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/highcharts-more.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/exporting.js"></script>
    <script src="~/assets/highcharts-12.1.2/code/modules/accessibility.js"></script>

    <script src="~/assets/highcharts-12.1.2/code/modules/heatmap.js"></script>

    @*--Custom Chart JS-----------------------------------------------------------*@
    <script src="~/assets/highcharts-12.1.2/custom charts/lineCSVchart.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/packed-bubble.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/PieChart-DrillDown.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/bubble.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/combo-dual-axes.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/column-basic.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/gauge-speedometer.js"></script>
    <script src="~/assets/highcharts-12.1.2/custom charts/heatmap.js"></script>

</head>
<body>
    <div class="row">
        <div id="packed-bubblechartContainer" style="width:100%; height:400px; direction: rtl;"></div>
    </div>
    <div class="row">
        <div id="lineCSVchartContainer" style="width:100%; height:400px; direction: rtl;"></div>
    </div>
    <div class="row">
        <div id="PieChart-DrillDownContainer" style="width:100%; height:400px; direction: rtl;"></div>
    </div>
    <div class="row">
        <div id="BubbleChartContainer" style="width:100%; height:400px; direction: rtl;"></div>
    </div>
    <div class="row">
        <div id="ComboDualAxesChartContainer" style="width:100%; height:600px; direction: rtl;"></div>
    </div>
    <div class="row">
        <div id="column-basicContainer" style="width:100%; height:600px; direction: rtl;"></div>
    </div>
    <div class="row">
        <div id="GaugeSpeedometerChartContainer" style="width:100%; height:500px; direction: rtl;"></div>
    </div>
    <div class="row">
        <div id="HeatmapContainer" style="width:100%; height:500px; direction: rtl;"></div>
    </div>
</body>
</html>
